<app-button (click)="navigateToHome()">Default About Button</app-button>

<app-button>Default Button</app-button>

<app-button intent="secondary" size="lg"> Big Secondary </app-button>

<app-button size="sm"> Small Primary </app-button>

<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
<app-button intent="secondary" size="lg"
  ><a routerLink="/about">Test About Link</a></app-button
>
<app-button intent="secondary" size="lg"
  ><a routerLink="/home">Test Home Link</a></app-button
>
